html {
	font-family: Verdana;
	background-color: #eee;
	overflow: auto;
}

body {
	-webkit-user-select: auto;
}

.hidden, .ng-hide {
	visibility: none;
	display: none;
}

code {
	color: black;
	margin: 5px;
	background-color: lightyellow;
	border: 1px solid darkgrey;
	padding: 5px;
	display: block;
	font-size: 12pt;
	font-family: Courier New;
}

code:hover {
	border: 1px solid blue;
	text-decoration: italic;
}

i {
	font-weight: bold;
}

div.control {
	margin-top: 20px;
}

div.input, div.output {
	margin: 5px;
	font-size: 10pt;
}

div.controlheader {
	background-color: lightgreen;
	color: black;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 5px;
}
div.controlbody {
	background-color: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 5px;
}
.controlidentifier {
    background-color: lightyellow;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    float: right;
}
.controldescription {
	font-weight: bold;
}

.arrow {
	display: inline-block;
	margin: 5px;
	font-size: 30px;
}