name: Run unit tests

on: 
  push:
  pull_request:
  merge_group:

jobs:
  test:
    runs-on: ubuntu-latest

    name: Run unit tests
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up lua
        uses: leafo/gh-actions-lua@v10
        with:
          luaVersion: "5.1.5"

      - name: compile
        run: |
          lua ./Scripts/DCS-BIOS/test/compile/LocalCompile.lua

      - name: test
        run: |
          lua ./Scripts/DCS-BIOS/test/TestSuite.lua
