name: Verify backwards-compatible addresses

on: 
  pull_request_target:
    branches:
      main

jobs:
  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      issues: write
      pull-requests: write

    name: Verify backwards-compatible addresses
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          path: head

      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.base.sha }}
          path: base

      - name: Set up lua
        # uses: leafo/gh-actions-lua@v10 # needs cache dependency update https://github.com/leafo/gh-actions-lua/pull/56
        uses: lewis6991/gh-actions-lua@01aab24c4de9555717b685f9b142a2abbe12ef14
        with:
          luaVersion: "5.1.5"

      - name: compile head
        working-directory: head
        run: |
          lua ./Scripts/DCS-BIOS/test/compile/LocalCompile.lua

      - name: compile base
        working-directory: base
        run: |
          lua ./Scripts/DCS-BIOS/test/compile/LocalCompile.lua

      - name: diff Addresses.h
        id: diff
        run: |
          diff=git diff base/Scripts/DCS-BIOS/doc/Addresses.h head/Scripts/DCS-BIOS/doc/Addresses.h
          added=echo $diff | grep '^+#' | wc -l
          removed=echo $diff | grep '^-#' | wc -l
          echo "diff=$diff" >> $GITHUB_OUTPUT
          echo "added=$added" >> $GITHUB_OUTPUT
          echo "removed=$removed" >> $GITHUB_OUTPUT

      - name: comment
        uses: actions/github-script@v8
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const added = Number(${{ steps.diff.outputs.added }});
            const removed =  Number(${{ steps.diff.outputs.removed }});
            const diff = "${{ steps.diff.outputs.diff }}";

            let comment = "";

            if (added === 0 && removed === 0) {
                comment += `## ✅ No control address changes detected`;
            } else {
              if (removed > 0) {
                comment += `## ⚠️ Control addresses are not backwards-compatible\n`;
                comment += `Found changes or removals in ${removed} lines. To avoid this, ensure new controls are added to the end of any affected lua files.\n`;
              } else {
                comment += `## ✅ Control addresses are backwards-compatible\n`;
                comment += `Found ${added} new controls.\n`;
              }

              comment += "```diff\n";
              comment += diff;
              comment += "\n```";
            }

            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: comment
            });
